<div class="jumbotron">
    <h1>Reynolds_Api</h1>
    <p class="lead">Web api exposing two utility enpoints to be consumed by the user.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Input Analysis </h2>
        <p>
            Inputs a file and outputs various metrics about the file, such as, word occurences and number count.
        </p>
        <p><a class="btn btn-default" href="/InputAnalysis">Endpoint &raquo;</a></p>
        <p><a class="btn btn-default" href="/InputAnalysis/Documentation">Documentation &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Scanning</h2>
        <p>
            Scans the directory tree of an input file path and outputs metrics about the files. 
        </p>
        <p><a class="btn btn-default" href="/Scanning">Endpoint &raquo;</a></p>
        <p><a class="btn btn-default" href="/Scanning/Documentation">Documentation &raquo;</a></p>
    </div>
